@theme {
    --spacing: 0.25rem;
}

@layer components {
    .btn-primary {
        border-radius: calc(infinity * 1px);
        background: linear-gradient(to right, var(--color-orange-500), var(--color-orange-600));
        padding-inline: --spacing(10);
        padding-block: --spacing(5);
        font-weight: var(--font-weight-semibold);
        color: var(--color-white);
        box-shadow: var(--shadow-md);
        transition: transform 2s ease;

        &:hover {
            color: rgba(22, 22, 22, 00.2);
            transform: translateY(-2px);
        }
    }
}