/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

/* @utility container {
    margin: auto
} */
* {
    box-sizing: border-box;

}

body {
    direction: rtl;
    margin: 0;
    padding: 0;
}